/* Base Styles */
* {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

a:link, a:active, a:visited {
    text-decoration: none;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

body {
    /*background: url(../images/red091.jpg);*/
    color: #666666;
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 1em;
    margin:0 auto;
}

/* Header Section */
header {
    background: rgb(218,238,225);
    padding-top: 10px;
}

.logo {
    padding-top: 20px;
    padding-left: 14px;
    font-size: 2.2em;
    font-weight: 900;
    color: rgb(27,169,111);
}

/* Navigation Menu */
header nav {
    float: left;
    padding-top: 15px;
}

header nav ul {
    padding: 0;
}

header nav ul > li {
    float:left;
    border-top:solid 1px rgb(40,42,53);
    background: rgb(40,42,53);
}

header nav ul > li > a {
    display:block;
    color:#fff;
    width:100px;
    text-align:center;
    font-size:14px;
    text-transform:uppercase;
    padding:4px 0 5px;
    text-decoration:none;
}

header nav ul > li:hover, nav ul > li.active {
    border-top:solid 1px ;
    background: rgb(20,20,20);
}
header nav ul > li:hover > a {
    color:rgb(218,238,225);
}

/* Login Section */
#login {
    float: right;
    padding-top: 14px;
    width:420px;
}

#login label[for="username"], #login label[for="password"] {
    color:rgb(40,42,53);
    float:left;
    padding:6px 12px 0px 7px;
    font-size: 11px;
}

#login form input[type="text"], #login form input[type="password"]{
    float:left;
    height:18px;
    width:125px;
    border: 1px solid rgb(27,169,111);;
    border-radius: 4px;
    margin-top: 2px;
    font-size: 11px;
}

#login form input[type="text"]:focus, #login form input[type="password"]:focus {
    outline: none;
}


#login form input[type="submit"] {
    background-color:rgb(27,169,111);;
    color: #FFFFFF;
    border: 0;
    cursor:pointer;
    float:left;
    overflow:hidden;
    padding:6px 12px 0px 7px;
    width:26px;
    font-size: 11px;
}

/* Main Section */

main {
    background-color: #FFFFFF;
    padding: 10px 18px;
}

#pageTitle {
    margin: 12px 0;
}

#pageTitle h1 {
    font-size: 1.3em;
    font-weight: normal;
}

.button {
    padding: 5px 10px;
    background-color:rgb(27,169,111);
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

/* Footer Section */
footer {
    padding:20px 40px;
    text-align:right;
    font-size:11px;
    background-color:#d4d4d4;
}

footer a{
    text-decoration:none;
    color:#5E5956;
}

footer #privacy {
    float:right;
}



/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 14px;
    text-transform:uppercase;
    width:100px;
    border: none;
    outline: none;
    color: white;
    padding: 4px 0 5px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}